* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-image: url(../img/background.jpg);
  position: relative;
  z-index: 1;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.container h1 {
  width: 100%;
  margin-top: 5rem;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  color: rgb(152, 205, 0);
}

.clock {
  margin: 5rem auto;
  padding: 1rem;
  text-align: center;
  border: 3px solid rgba(152, 205, 0, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 15px 2px rgba(152, 205, 0, 0.5);
  backdrop-filter: blur(10px);
}

.clock p {
  font-size: 3rem;
  color: rgb(152, 205, 0);
}
